<!DOCTYPE html>
<html lang="en">
>
<body>
    <!--Creando el heder-->
    <header class="heder-P">
        <div class="heder-div">
            <img src="/img/logo-mercado-liebre.svg" alt="MercadoLiebre" class="logo">
            <form class="barraB"  action="/buscar" method="POST">
                <input type="text" name="busqued" placeholder="Buscar productos, marcas">
                <button><i class="fa-solid fa-magnifying-glass fa-2em" style="color: #000000;"></i></button>
            </form>
            <h2 class="Info-pagos"> <i class="fa-solid fa-hand-holding-dollar"></i>
                Compra en cuotas o con tarjeta de credito</h2>
        </div>
        <!--Barra navegacion-->
        <nav class="barra-nav">
            <ul class="botones-izq">
                <li><a href="@">Ofertas</a></li>
                <li><a href="@">Tiendas Oficiales</a></li>
                <li><a href="@">Vender</a></li>
                <li><a href="@">Ayuda</a></li>
            </ul>

            <ul class="botones-der">
                <li><a href="/register.html"> Crea tu cuenta</a> <i class="fa-solid fa-user-large"></i> </li>
                <li><a href="/login.html"> Ingresa</a> <i class=" fa-solid fa-right-to-bracket"></i> </li>
                <li><a href="@"> Mis compras</a> <i class=" fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <!--Fin de la barra-->
        <!--hamburguesa-->
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <!--           -->
    </header>
   <!--Fin del header--> 
   <!--banner-->
   <img src="img/img-home-banner.jpg" alt="banner" class="banner">
   <!--banner-->
   <!--Barra de productos-->
   <main class="mainP">
    <div class="Titulos">Basado en tu ultima visita</div>
    <section class="sectionP">
        <article class="articulos">
            <img class="imgP" src="img/img-cafetera-moulinex.jpg" alt="cafereta-maoulinex">
            <div class="icono"><i class="fa-solid fa-truck"></i></div>
            <div class="info">
                <div class="precio">$6770</div>
                <div class="descuentos">40% off</div>
            </div>
            <div class="descripcion">Cafetera Moulinex</div>
        </article>

        <article class="articulos">
            <img class="imgP" src="/img/img-macbook-pro-2019.jpg" alt="Macbook-pro">
            <div class="icono"><i class="fa-solid fa-truck"></i></div>
            <div class="info">
                <div class="precio">$230.000</div>
                <div class="descuentos">20% off</div>
            </div>
                <div class="descripcion">MacBook Pro 2019</div>
        </article>

        <article class="articulos">
            <img class="imgP" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung-Galaxi">
            <div class="icono"><i class="fa-solid fa-truck"></i></div>
            <div class="info">
                <div class="precio">$70.500</div>
                <div class="descuentos">10% off</div>
            </div>
                <div class="descripcion">Samsung Galaxy S10</div>
        </article>

        <article class="articulos">
            <img class="imgP" src="/img/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
            <div class="icono"><i class="fa-solid fa-truck"></i></div>
            <div class="info">
                <div class="precio">$23.200</div>
                <div class="descuentos">5% off</div>
            </div>
                <div class="descripcion">SmartTv Samsung 43"</div>
        </article>
    </section>

    <!--Segundo section-->
    <div class="Titulos">Seccion de ofertas</div>
    <section class="sectionP">
        <article class="articulos">
            <img class="imgP" src="img/img-cafetera-moulinex.jpg" alt="cafereta-maoulinex">
            <div class="icono"><i class="fa-solid fa-truck"></i></div>
            <div class="info">
                <div class="precio">$6770</div>
                <div class="descuentos">40% off</div>
            </div>
            <div class="descripcion">Cafetera Moulinex</div>
        </article>

        <article class="articulos">
            <img class="imgP" src="/img/img-macbook-pro-2019.jpg" alt="Macbook-pro">
            <div class="icono"><i class="fa-solid fa-truck"></i></div>
            <div class="info">
                <div class="precio">$230.000</div>
                <div class="descuentos">20% off</div>
            </div>
                <div class="descripcion">MacBook Pro 2019</div>
        </article>

        <article class="articulos">
            <img class="imgP" src="/img/img-samsung-galaxy-s10.jpg" alt="Samsung-Galaxi">
            <div class="icono"><i class="fa-solid fa-truck"></i></div>
            <div class="info">
                <div class="precio">$70.500</div>
                <div class="descuentos">10% off</div>
            </div>
                <div class="descripcion">Samsung Galaxy S10</div>
        </article>

        <article class="articulos">
            <img class="imgP" src="/img/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
            <div class="icono"><i class="fa-solid fa-truck"></i></div>
            <div class="info">
                <div class="precio">$23.200</div>
                <div class="descuentos">5% off</div>
            </div>
                <div class="descripcion">SmartTv Samsung 43</div>
        </article>
    </section>
   </main>
   <!-- Fin de barra de productos-->
   <!--agregamos el footer-->
   <footer>
    <div class="div-foter">
        <div><i class="fa-solid fa-credit-card"></i></div>
        <strong>Pagá con tarjeta o en efectivo</strong>
        <h4 class="texto">Con Mercado Liebre Cash, tenés cuotas sin</h4>
        <h4 class="texto">interés con tarjeta o efectivo en</h4>
        <h4 class="texto">de pago. ¡Y siempre es seguro!</h4> 
      </div>

      <div class="div-foter">
        <div><i class="fa-solid fa-gift"></i></div>
        <strong>Envío gratis desde $ 2.500</strong>
        <h4 class="texto">Solo por estar registrad@ en Mercado Liebre</h4>
        <h4 class="texto">tenés envíos gratis en miles de productos. Es</h4> 
        <h4 class="texto">un beneficio de Mercado Puntos.</h4>
      </div>

      <div class="div-foter">
        <div><i class="fa-solid fa-user-shield"></i></div>
        <strong>Seguridad, de principio a fin</strong> 
        <h4 class="texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre,</h4>
        <h4 class="texto">no hay nada que no puedas hacer,</h4 >
        <h4 class="texto">porque estás siempre protegid@.</h4>
       </div> 

       <h3 class="copirigt">Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
   </footer>
   <!--Fin del footer-->
</body>
</html>
